@import "./variables.scss";

@import "./drawingArea.scss";

.App{
    display: flex;
    flex-direction: row;
    height: 100%;
}

aside{
    display: flex;
    flex-direction: column;
    height: 90vh;
    justify-content: space-around;
    align-items: center;
    button{
        @include buttonStyle();
    }
}
