$darkColor : red;
$lightColor : blanchedalmond;
$titleFont: Arial, Helvetica, sans-serif;

@mixin buttonStyle {
    width: 20vw;
    height: 5vh;
    background-color: $darkColor;
    border: none;
    border-radius: 8px;
    color: $lightColor;
    font-size: 20px;
}

@mixin device {
    display: flex;
    flex-direction: column;
    background-color: transparent;
    align-items: center;
    
    img{
        width: 25px;
        height: 25px;
    }
    p{
        margin:0;
        height: 30%;
    }
}